<!--
  * Directives (and component) sharing the same host element share the same injector
    * See app-di-sub1[appDiDir2, appDiDir3]; app-di-sub3[appDiDir5]
  * Directives and components nested in the DOM tree inherit from injectors created higher up in the DOM tree
    * See div[appDiDir1] > app-di-sub1
  * Projected components inherit from the injector for the *target* component they are projected into
    * See app-di-sub1 > app-di-sub2; app-di-sub1 > app-di-sub3
  * The injector of the projected component can override the injector for the *target* component they are projected into
    * See app-di-sub1 > app-di-sub3
  * Templates inherit from the injector of the *target* component whose view they are added to
    * See  app-di-tmpl-container > app-di-sub3
  * No injector is create for a template element
    * See template[appDiDirTmplContainer] > app-di-sub3>
  * Directives can ask to be injected with another directive either:
    * on the same element as itself (see app-di-sub3[appDiDir5])
    * higher in the dom tree (see div[appDiDir1] app-di-sub3)
    * Note: although not demonstrated, you can also restrict visbility of injection. See:
      * https://blog.nrwl.io/essential-angular-dependency-injection-a6b9dcca1761#.1h7p0z91s
      * https://blog.thoughtram.io/angular/2015/08/20/host-and-visibility-in-angular-2-dependency-injection.html
-->

<div appDiDir1>
  <h3>Component <code>app-di</code></h3>
  <app-di-sub1 appDiDir2 appDiDir3 #dir3="diDir3" [svc1Input]="dir3.svc1" [svc2Input]="dir3.svc2">
    <app-di-sub2></app-di-sub2>
    <app-di-sub3></app-di-sub3>
    <app-di-sub3 appDiDir5></app-di-sub3>
  </app-di-sub1>
  <app-di-sub2></app-di-sub2>
  <app-di-sub3></app-di-sub3>
  <app-di-sub3 appDiDir5></app-di-sub3>

  <app-di-tmpl-container [template]="content" appDiDir5>
    <ng-template #content>
      <app-di-sub3></app-di-sub3>
    </ng-template>
  </app-di-tmpl-container>

  <!-- Note: app-di-tmpl-container2 is identical to app-di-tmpl-container except supports nicer syntax -->
  <app-di-tmpl-container2 appDiDir5>
    <app-di-sub3 *appDiTmplContent></app-di-sub3>
  </app-di-tmpl-container2>

  <ng-template appDiDirTmplContainer>
    <div appDiDir5>
      <!-- Note: 
      diSub3 cannot ask for an injected DiDirTmplContainerDirective nor
      any of the services that DiDirTmplContainerDirective provides (eg Service6Service)

      The conclusion is that an injector is not created for a template element    
      
      -->
      <app-di-sub3></app-di-sub3>
    </div>
  </ng-template>
</div>