<!--
  * Directives (and component) sharing the same host element share the same injector
    * See app-di-sub1[appDiDir2, appDiDir3]; app-di-sub3[appDiDir5]
  * Directives and components nested in the DOM tree inherit from injectors created higher up in the DOM tree
    * See div[appDiDir1] > app-di-sub1
  * Projected components inherit from the injector for the *target* component they are projected into
    * See app-di-sub1 > app-di-sub2; app-di-sub1 > app-di-sub3
  * The injector of the projected component can override the injector for the *target* component they are projected into
    * See app-di-sub1 > app-di-sub3
-->

<div appDiDir1>
  <h3>Component <code>app-di</code></h3>
  <app-di-sub1 appDiDir2 appDiDir3 #dir3="diDir3" [svc1Input]="dir3.svc1" [svc2Input]="dir3.svc2">
    <app-di-sub2></app-di-sub2>
    <app-di-sub3></app-di-sub3>
    <app-di-sub3 appDiDir5></app-di-sub3>
  </app-di-sub1>
  <app-di-sub2></app-di-sub2>
  <app-di-sub3></app-di-sub3>
  <app-di-sub3 appDiDir5></app-di-sub3>

  <app-di-tmpl-container [template]="content" appDiDir5>
    <template #content>
      <app-di-sub3></app-di-sub3>
    </template>
  </app-di-tmpl-container>

  <!-- Note: app-di-tmpl-container2 is identical to app-di-tmpl-container except supports nicer syntax -->
  <app-di-tmpl-container2 appDiDir5>
    <app-di-sub3 *appDiTmplContent></app-di-sub3>
  </app-di-tmpl-container2>

  <div *appDiDirTmplContainer appDiDir5>
    <!-- Note: transcluded diSub3 cannot ask for diDirTmplContainer to be injected into it' constructor :-( -->
    <app-di-sub3></app-di-sub3>
  </div>
</div>