<h2>Detatching component with observable</h2>

<div>
    <button type="button" (click)="start()">Start</button>
    <button type="button" (click)="stop()">Stop</button>
    <button type="button" (click)="toggleChangeDetection()">Toggle Change Detection</button>
</div>
<div>
    <app-counter [value]="counts$" *attachedIf="isViewUpdated"></app-counter>
    <app-counter [value]="counts$" *attachedIf="isViewUpdated; hide: false"></app-counter>
    <app-counter [value]="counts$ | pause:onDetach$" *attachedIf="isViewUpdated; let onDetach$=onDetach$"></app-counter>
</div>