<h1>
  {{title}}
</h1>

<div>
  <p>This app is a playground for experimenting with angular 2</p>
  <p>For a list of experiments included see the README.md</p>
</div>

<nav>
  <ul>
    <li><a routerLink="/admin">Admin Area</a></li>
    <li><a routerLink="/main/reports">Reports</a></li>
    <li><a routerLink="/main/forms/form-eg">Form (reactive) example</a></li>
    <li><a routerLink="/main/forms/form-hybrid">Form (template+reactive) example</a></li>
    <li><a routerLink="/main/forms/form-hybrid-complex">Form (template+reactive) complex example</a></li>
    <li><a routerLink="/main/di">DI example</a></li>
    <li><a routerLink="/di-reg">DI registration - custom injector</a></li>
    <li><a routerLink="/di-reg2">DI registration example - standard</a></li>
    <li><a routerLink="/main/dir-lifecycle">Directive lifecycle example</a></li>
    <li><a routerLink="/main/error-handler">Error handler example - basic</a></li>
    <li><a routerLink="/main/error-handler-zonejs">Error handler example - zone.js</a></li>
    <li><a routerLink="/main/rxjs-err-async-pipe">RxJs errors and async pipe example</a></li>
    <li><a routerLink="/routing-eg">Routing experiments</a></li>
    <li><a [routerLink]="['/routing-eg', { param1: true }]">Routing experiments (with optional params)</a></li>
    <li><a routerLink="/main/detatched-obs">Change Detection - detatching component</a></li>
    <li><a routerLink="/main/detatched-immutable">Change Detection - detatching immutable component</a></li>
    <li><a routerLink="/main/detatched-clicks">Change Detection - clicks when detatached</a></li>
    <li><a routerLink="/main/unidir-problem">Change Detection - unidirectional problems</a></li>
    <li><a routerLink="/main/object-with-events">Change Detection - object with events</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<app-normal></app-normal>
