<h1>
  {{title}}
</h1>

<div>
  <p>This app is a playground for experimenting with angular 2</p>
  <p>For a list of experiments included see the README.md</p>
</div>

<nav>
  <ul>
    <li><a routerLink="/">Admin Area</a></li>
    <li><a routerLink="/reports">Reports</a></li>
    <li><a routerLink="/form-eg">Form (reactive) example</a></li>
    <li><a routerLink="/form-hybrid">Form (template+reactive) example</a></li>
    <li><a routerLink="/form-hybrid-complex">Form (template+reactive) complex example</a></li>
    <li><a routerLink="/zones">Zones example</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
