<h2>Detatching component with observable</h2>

<div>
    <button type="button" (click)="start()">Start</button>
    <button type="button" (click)="stop()">Stop</button>
    <button type="button" (click)="toggleChangeDetection()">Toggle Change Detection</button>
</div>
<div>
    <app-immut-counter [value]="counts$ | async" [attachedIf]="isViewUpdated"></app-immut-counter>
    <app-immut-counter [value]="counts$ | async" [attachedIf]="isViewUpdated" [hideWhenDetatched]="false"></app-immut-counter>
</div>